.cube {
    height: 120px;
    width: 120px;
    /* border: 3px solid black; */
    
    background: white;
    box-sizing: content-box;
    color: black;
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
    position: relative;
    overflow: visible;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    /* perspective: 120px; */
    @apply transition-transform;
    /* transition: ; */

    &::after {
        content: '';
        position: absolute;
        background: grey;
        height: 120px;
        width: 120px;
        top: 0;
        left: -100%;
        @apply transition-transform;
        transform: rotateY(-90deg);
        transform-origin: center right;
        border-right: 20px solid white;
    }
    &::before {
        content: attr(data-letter);
        position: absolute;
        background: darkgrey;
        border-top: 20px solid white;
        font-size: 64px;
        line-height: 4px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        height: 120px;
        width: 120px;
        /* top: 0; */
        display: flex;
        text-align: center;
        justify-content: center;
        justify-self: center;
        padding: 2rem;
        left:0;
        bottom: -100%;
        @apply transition-transform;
        transform: rotateX(-90deg);
        transform-origin: top center;
    }


    &:hover {
        transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translate(20px, -20px);

        &::after{
            transform: rotateY(-90deg) scaleX(1.131);
        }
        &::before{
            transform: rotateX(-90deg) scaleY(1.131);
        }
    }
}